In [1]:
import pandas as pd

In [6]:
all_data = pd.read_csv("../all_data.csv")
all_data['datetime'] = pd.to_datetime(all_data['datetime'])

In [15]:
def create_yearly_vehicle_df(df):
    yearly_vehicle_df = df.resample(rule='Y', on='datetime').agg({
        "vehicle_pollution": "mean"
    })
    
    yearly_vehicle_df.index = yearly_vehicle_df.index.strftime('%Y')
    yearly_vehicle_df.rename(columns={
        "vehicle_pollution": "vehicle_pollution_average"
    })

    return yearly_vehicle_df

In [18]:
def create_pollution_df(df):
    pollution_df = df.groupby(by=['PM2.5', 'PM10', 'SO2', 'NO2', 'CO', 'O3']).agg({
        "PM2.5": "sum",
        "PM10": "sum",
        "SO2": "sum",
        "NO2": "sum",
        "CO": "sum",
        "O3": "sum",
    })

    pollution_df = pollution_df.mean().sort_values(ascending=True)

    return pollution_df

In [35]:
all_data.station

0          Aotizhongxin
1          Aotizhongxin
2          Aotizhongxin
3          Aotizhongxin
4          Aotizhongxin
              ...
382163    Wanshouxigong
382164    Wanshouxigong
382165    Wanshouxigong
382166    Wanshouxigong
382167    Wanshouxigong
Name: station, Length: 382168, dtype: object

In [66]:
def create_pollution_station(df):
    pollution_station = df[['station', 'PM2.5', 'PM10', 'SO2', 'NO2', 'CO', 'O3']].groupby(by=["station"])
    
    pollution_station = pollution_station.mean()
    return pollution_station

In [67]:
print(create_pollution_station(all_data))

                   PM2.5        PM10        SO2        NO2           CO  \
station
Aotizhongxin   81.863630  109.120685  17.167205  58.976332  1256.574729
Changping      70.312328   94.086402  15.061357  44.319035  1151.716441
Dingling       66.512518   84.527803  11.944167  27.267578   916.547211
Dongsi         84.933156  110.991914  16.994466  53.717314  1316.524392
Guanyuan       83.101051  108.974559  17.263085  57.698591  1265.709760
Gucheng        83.865653  119.085002  15.095190  55.583879  1325.509691
Huairou        70.285669   92.525792  12.275823  32.633827  1032.398291
Nongzhanguan   84.720783  109.175929  18.560198  58.213457  1327.784381
Shunyi         79.400725   99.380546  14.144105  44.838483  1201.778267
Tiantan        81.749840  105.627866  14.140742  53.213083  1297.434187
Wanliu         81.981459  108.765861  17.700088  64.429290  1293.450153
Wanshouxigong  84.238510  111.918692  17.152569  55.307181  1362.531647

                      O3
station
Aotizhongxin   56.240938
Changping      57.424541
Dingling       69.449698
Dongsi         56.797482
Guanyuan       55.832982
Gucheng        58.280651
Huairou        59.722474
Nongzhanguan   58.614905
Shunyi         55.297919
Tiantan        55.297030
Wanliu         49.474836
Wanshouxigong  55.922622

In [19]:
create_pollution_df(all_data)

SO2        15.710950
NO2        50.816326
O3         57.656079
PM2.5      79.819190
PM10      105.083074
CO       1235.929924
dtype: float64

In [16]:
create_yearly_vehicle_df(all_data)

          vehicle_pollution
datetime
2013            1432.596556
2014            1501.414796
2015            1494.218192
2016            1360.530513
2017            1843.330264